# This is a basic workflow to help you get started with Actions

name: 编译latex文档

# Controls when the workflow will run
on:
  # 触发器：main 分支 发生 push 或 pull request 时执行
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: 安装tex-live
        run: sudo apt-get update && sudo apt-get install --yes --no-install-recommends texlive-xetex texlive-lang-chinese texlive-lang-cjk texlive-plain-generic texlive-fonts-recommended 

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: apt-cache search ulem && cd latex使用/ && xelatex test.tex && cd ../哲学/毛泽东著作/毛泽东思想万岁/5/ && xelatex 5-000-毛泽东思想万岁.tex && xelatex 5-000-毛泽东思想万岁.tex
      
      - name: upload
        uses: actions/upload-artifact@v2.2.4
        with: 
          path:  哲学/毛泽东著作/毛泽东思想万岁/5/5-000-毛泽东思想万岁.pdf
